<header class="myheader">
    <div class="logobar">
        <button class="iconG" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <div class="right-icons">
            <button class="iconG" mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            <button class="iconG" mat-icon-button>
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>

</footer>